/* Icones animation, box shadow and the menu hover are taken from https://github.com/IanLunn/Hover */

/* The swiper com from http://idangero.us/swiper/demos/ */

@font-face {
    font-family: DINNextLTPro-MediumCond;
    src: url(../font/DINNextLTPro-MediumCond.otf);
}

html {
    background-color: #c8cfdc;
}

body {
    margin: 46px;
    background-color: white;
    height: 1500px;
    font-family: 'DINNextLTPro-MediumCond', sans-serif;
}

/* HEADER */

#logo {
    margin-top: 21px;
    margin-left: 21px;
    margin-right: 28px;
    margin-bottom: 21px;
    float: left;
}

/* ANIMATION HOVER LOGO */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

#header ul {
    list-style: none;
    float: left;
    padding-top: 36px;
    padding-bottom: 41px;
    padding-left: 0px;
    margin: 0px;
}

#header ul li {
    display: inline;
    padding-right: 38px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    font-family: 'DINNextLTPro-MediumCond';
    letter-spacing: 1px;
}

#header ul li a:hover {
    color: #0089cf;
}

.underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: black;
    height: 50px;
}

.underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0px;
    background: #0089cf;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    color: #0089cf;
}

.underline:hover:before, .underline:focus:before, .underline:active:before {
    left: 0;
    right: 0;
}

#header ul li:hover {
    color: #0089cf; 
}

#right-nav {
    float: right;  
}

#articles {
    color: #0089cf;
}

.icone {
    margin-bottom: 14px;
    padding-right: 5px;
     -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

/* SET ANIMATION ON ICONS */

.icone:hover, .icone:focus, .icone:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
  }
}

#search_input {
    padding: 0;
    margin: 0;
}

/*END HEADER*/

/*PRODUCT BLOCK*/

#product_img {
    float: left;
    width: 66.32%;
    clear: both;
}

#pink_shoe {
    display: block;
}

#rasta_shoe {
    display: none;
}

#product_img img {
    width: 100%;
}

#product_info {
    float: left;
    width: 33.68%;
    height: 525px;
    margin: 0 auto;
}

#wish{
    display: block;
    margin-top: 35px;
    margin-bottom: 45px;
}

#wish-liked{
    margin-top: 35px;
    margin-bottom: 45px;
    display: none;
}

#product_info h1{
    margin: 0 auto;
    margin-bottom: -5px;
    font-size: 25px;
    font-weight: 300;
    color: #353535;
}

#product_info h2{
    margin: 0 auto;
    font-size: 35px;
    font-weight: 300;
    color: #353535;
    padding-top: 8px;
    margin-bottom: -2px;
} 

#product_info h6{
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
    color: #868686;
}

#product_info h3 {
    margin: 0 auto;
    font-size: 14px;
    font-weight: 300;
    color: #868686;
    display: inline-block;
    clear: both;
    padding-top: 16px;
    padding-bottom: 10px;
}

#black_pink {
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    color: #43a8dc;
}

#mini-shoe2 {
    margin-left: 6px;
}

#product_info h5 {
    margin: 0 auto;
    font-size: 12px;
    font-weight:lighter;
    color: #adadad;
    padding-top: 16px;
    padding-bottom: 11px;
    font-family: roboto, sans-serif;
}

#select-size {
    clear: both;
    padding: 0;
    margin: 0;
    height: 45px;
    border: 1px solid #ccc;
    width: 100px;
    overflow: hidden;
    background-color: #fff;
    float: left;
    background: #fff url('../images/icones/arrow.png') no-repeat 90% 50%;
}

#select-size select {
    margin-top: 9px;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font-size: 11px;
    font-weight: 400;
    color: #666666;
}

.add_to_cart {
    height: 29px;
    padding-top: 18px;
    width: 100px;
    background-color: #333333;
    float: left;
    margin-left: 10px;
    color: #c9c9c9;
    text-align: center;
    vertical-align: center;
    letter-spacing: 0.7px;
    font-weight: 100;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.add_to_cart:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.add_to_cart:hover, .add_to_cart:focus, .add_to_cart:active {
    color: white;
}

.add_to_cart:hover:before, .add_to_cart:focus:before, .add_to_cart:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

option {
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    font-family: 'Roboto', sans-serif; 
}

/*PRODUCT BLOCK*/

/*BLOCK 2*/ 

#block2 {
    clear: both;
    background-image: url(../images/bg1.png);
    height: 610px;
    position: relative;
}

#text {
    height: 150px;
    width: 400px;
    position: absolute;
    bottom: 229px;
    left: 22px;
}

#block2 h1 {
    font-size: 25px;
    font-weight: 700;
    color: white;
    width: 100%;
    letter-spacing: 1px;
    font-weight: lighter;
}

#block2 h2 {
    font-size: 14px;
    font-weight: 100;
    color: white;
    width: 100%;
    letter-spacing: 1px;
    font-family: Roboto, sans-serif;
}

/*END BLOCK 2*/ 

/*BLOCK 3*/

#block3 {
    background-image: url(../images/shoes2.png);
    height: 615px;
    position: relative;
}

#text2 {
    width: 400px;
    padding-top: 100px;
    padding-left: 50px;
}

#text2 h6 {
    margin: 0 auto;
    font-size: 14px;
    font-weight: 100;
    color: #868686;
}

#text2 h1 {
    margin: 0;
    padding: 0;
    padding-top: 5px;
     margin: 0 auto;
    font-size: 25px;
    font-weight: 100;
    color: #353535;
}

#text2 h5 {
    margin: 0 auto;
    font-size: 14px;
    font-weight: 100;
    color: #868686;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: Roboto, sans-serif;
    line-height: 25px;
}

.benefits {
    font-size: 15px;
    font-weight: 600;
    color: #353535;
    padding-top: 22px;
    margin: 0;
}

.detail {
    font-size: 10px;
    font-weight: lighter;
    color: #868686;
    padding-top: 0px;
    margin: 0;
    font-family: Robot, sans-serif;
}

#box {
    height: 380px;
    width: 212px;
    background-color: white;
    float: right;
    position: absolute;
    top: 199px;
    right: 48px;
    border: 4px solid #e4e4e4;
    padding: 27px;
    padding-top: 0px; 
}

#nike_title {
    font-weight: 200;
    font-size: 23px;
    margin: 0px;
    margin-top: 17px;
    font-size: 25px;
} 

#model {
    font-family: roboto;
    font-weight: 100;
    margin-top: 0px;
    font-size: 14px;
    color: #8f8f8f;
} 

#color_box {
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    color: #43a8dc;
}

#shoe_box {
    margin-left: -15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#en_stock {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    padding-right: 121px;
    display: inline;
    float: left;
    font-size: 14px;
    margin-bottom: 20px;
}

#price {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    display: inline;
    float: left;
    font-size: 18px;
}

/* ADD SHADOW ON BOX */

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* END BLOCK 3 */ 

/* BLOCK 4 */ 

#block4 {
    background-color: white;
    height: 520px;
}

#text3 {
    padding-top: 50px;
    padding-left: 50px;
}

#text3 h1 {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #868686;
    font-weight: 100;
    letter-spacing: 0.5px;
}

#text3 h2 {
    font-size: 25px;
    letter-spacing: 0.5px;
    font-weight: 100;
    margin-top: 0px;
}

#swiper {
    padding-right: 50px;
    padding-left: 50px;
}

.swiper-container {
    width: 100%;
    height: 300px;
    margin: 20px auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 60%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide:nth-child(2n) {
    width: 40%;
}

.swiper-slide:nth-child(3n) {
    width: 20%;
}

#swiper-pagination-center {
    text-align: center;
    margin-left: 550px;
    display: none;
}

/* END BLOCK 4*/ 